div.call_scroll { height:300px; overflow:scroll; }
.cell_color { background-color: #a18e5c; }
input[type=text] { height: 24px; }
input[type=text].kana { height: 20px; }
.kana {font-size: 10px; }
input[type=number] { height: 24px; }
table.table_color { background-color: #e3decc; border-collapse: collapse; border-style: solid; border-collapse: collapse; border-width: 2px; padding: 2px; border-color: #2f4f4f; }
div.call_bg_color { background-color: #d3d3d3; }
div.page_bg_color { background-color: #e6e5e1; }
table.table_color tbody tr td { border: 1px solid #FFFFFF; } 
input:disabled { background-color: #c0c0c0; }
.font_red { color: red; }
